<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>.docxConverter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
    {% for message in messages %}
    <div class="alert alert-warning">
        {{message}}
    </div>
    {% endfor %}
    <div class="card">
        <div class="card-header">
          .docx to pdf
        </div>
      <div class="card-body">
        <h5 class="card-title">Convert docx to pdf within seconds</h5>
          <form action="{% url 'docxfile' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p class="card-text">{{docxform.as_p}}</p>
            <input class="btn btn-primary" type="submit">
          </form>

      </div>
    </div>
    <div class="card">
        <div class="card-header">
          .jpg to png
        </div>
      <div class="card-body">
        <h5 class="card-title">Convert jpg to png within seconds</h5>
          <form action="{% url 'jpgfile' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p class="card-text">{{jpgform.as_p}}</p>
            <input class="btn btn-primary" type="submit">
          </form>

      </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>